.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    color: white;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
    z-index: 10;
}

.logo-design {
    color: #4E47FF;
    font-size: 34px;
}

* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    color: white;
    background-color: #4E47FF;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 15px 28px;

}

.hero-design {
    position: relative;
    width: 100%;
    height: 698px;
    overflow: hidden;
}

.hero-context {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #252432;
    text-align: center;

}

.hero-context h1 {
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 35px;

}

.users {
    display: flex;
    justify-content: space-around;
}

main {
    max-width: 1140px;
    margin: 0 auto;

}

.body-color {
    background-color: #F5F8FF;
}

.user-title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-top: 27px;
    margin-bottom: 50px;
    padding-top: 40px;
}

.users-title {
    font-weight: bold;
    font-size: xxx-large;
    color: #443edb;

}

.users p {
    font-size: 14px;
    padding-bottom: 40px;
}

.Productive-Users-Section {
    background-color: #d1d0e9;
    border-radius: 20px;
    margin-bottom: 50px;
}

.touch-section {
    display: flex;
    height: 632px;
    align-items: center;
    justify-content: space-between;


}

.touch-left-side {
    width: 50%;
    font-size: xxx-large;
}


.touch-right-side {}

.input-name {
    width: 461px;
    height: 64px;
    border-radius: 5px;
    margin-bottom: 24px;
    margin-top: 10px;
    border: none;
    padding-left: 10px;

}

.input-mesg {
    width: 461px;
    height: 180px;
    border-radius: 5px;
    margin-bottom: 24px;
    border: none;
    padding-left: 10px;
    margin-top: 10px;
}

.btn-primary-add {
    width: 100%;
}

.links a {
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.links a {
    margin-right: 35px;
}

footer {
    margin-bottom: 50px;
    margin-top: 50px;
}

.footer-title {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    color: #4E47FF;
    font-size: 100px;
}

.footer-context {
    display: flex;
    justify-content: center;
    text-align: center;

}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 220px;
    justify-content: space-between;
    margin: 116px 0;
}

.action-img {
    border-radius: 48px;
}

.action-title {
    font-weight: bold;
    font-size: 42px;
}

.action-des {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 23px;
}

.cart-sect {
    display: flex;
    gap: 12px;
}

.feed-title {
    display: flex;
    justify-content: center;
    font-size: 42px;
    margin-bottom: 50px;
}

.firstcom {
    height: 243px;
    width: 367px;
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 10px;
}

.feedback-container {
    display: flex;
    gap: 20px;


}

.cart-title {
    font-size: x-large;
    margin-bottom: 10px;

}

.cart-desc {
    font-size: 19px;
    padding-bottom: 24px;
}

.rating {
    color: #FFB805;
    font-size: 25px;
    margin-bottom: 30px;
}

.hover-effect {
    transition: all 0.3s ease;
}

.hover-effect:hover {
    background-color: yellowgreen;
    color: white;
    transform: scale(1.05);
}

.reviwer-font {
    font-weight: bold;
}

.form-field-title {
    font-weight: bold;
    font-size: 14px;
}